*.zip
*.bak
*.qtl
*.qpg
*.qdb
*.ini
*.bak2
*.bak3
*.bak1
*.do
*.xrf
*.vho
*.sft
*.summary
*.sof
*.sld
*.pin
*.rpt
*.jdi
*.smsg
*.done
*.cdb
*.hdb
*.kpt
*.sig
*.hb_info
*.dpi
*.rcfdb
*.logdb
*.dfp
*.ammdb
*.db_info
*.qmsg
*.json
*.tmw_info
*.ddb
*.tdb
*.rdb
*.qmsg
*.txt
*.sci
*.flock
*.logdb
*.qmsg
*.kpt
*.qsf
*.rpt
*.xml
*.bpm
*.hsd
*.hier_info
